<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amap</title>
    <script
      type="text/javascript"
      src="https://webapi.amap.com/maps?v=1.4.15&key=e4c77265ff45bdf58b359dbe94b5f474"
    ></script>
    <!--引入UI组件库（1.1版本） -->
    <script src="//webapi.amap.com/ui/1.1/main.js"></script>
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      #container {
        width: 100vw;
        height: 100vh;
        position: relative;
      }

      #tipinput {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 300px;
        z-index: 9999;
        padding: 5px;
        border: 1px solid;
        border-color: aliceblue;
        box-shadow: 0 0 5px 0px rgb(100 100 100 / 80%);
      }
      .tip-box {
        width: 400px;
        max-height: 150px;
        position: absolute;
        top: 40px;
        left: 10px;
        overflow-y: auto;
        background-color: #fff;
        z-index: 1000;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <input type="text" id="tipinput" value="" />
      <div class="tip-box" id="searchTip"></div>
    </div>
    <script>
      var map = new AMap.Map("container", {
        zoom: 8,
        resizeEnable: true,
        viewMode: "3D", //使用3D视图
      });
      var marker;
      var Geocoder;
      var address;
      var city;
      var infoWindow;
      // 输入框
      let tipinput = document.getElementById("tipinput");
      AMap.plugin("AMap.Geocoder", function () {
        //异步加载插件
        Geocoder = new AMap.Geocoder({
          city: "010", //城市设为北京，默认：“全国”
          radius: 1000, //范围，默认：500
          viewMode: "3D", //使用3D视图
        });
        map.addControl(Geocoder);
      });
      AMapUI.loadUI(
        [
          "overlay/SimpleMarker", //SimpleMarker
          "overlay/SimpleInfoWindow", //SimpleInfoWindow
          "misc/PoiPicker",
        ],
        function (SimpleMarker, SimpleInfoWindow, PoiPicker) {
          //....引用加载的UI....

          // 地理编码
          function regeoCode(lnglat) {
            Geocoder.getAddress(lnglat, function (status, result) {
              if (status === "complete" && result.regeocode) {
                address = result.regeocode.formattedAddress;
                city = result.regeocode.addressComponent.city;
                drawInfoWindow();
              } else {
                console.error("根据经纬度查询地址失败");
              }
            });
          }

          // 显示信息窗口
          function drawInfoWindow() {
            infoWindow = new SimpleInfoWindow({
              //模板, underscore
              infoTitle: "<strong><%= img %><%- title %></strong>",
              infoBody:
                '<p class="my-desc">' +
                //<%= 原值插入 ..
                // "<%= img %>" +
                //<%- html编码后插入
                "<%- body %>" +
                "</p>",
              //模板数据
              infoTplData: {
                title: city,
                img: '<img src="//webapi.amap.com/theme/v1.3/autonavi.png" />',
                body: address,
              },

              //基点指向marker的头部位置
              offset: new AMap.Pixel(0, -31),
            });
          }

          // 显示标注
          function drawMaeker(lng, lat) {
            marker = new SimpleMarker({
              iconLabel: "",
              //自定义图标节点(img)的属性
              iconStyle: {
                src: "//webapi.amap.com/theme/v1.3/markers/b/mark_b.png",
                style: {
                  width: "20px",
                  height: "30px",
                },
              },

              //设置基点偏移
              offset: new AMap.Pixel(-10, -30),

              map: map,
              showPositionPoint: true,
              position: [lng, lat],
              zIndex: 9999999,
            });
            if (marker) {
              marker.on("click", (e) => {
                infoWindow.open(map, marker.getPosition());
              });
            }
          }

          // 定位
          function getLocation() {
            let _that = this;
            const location = {
              initMap(id) {
                let geolocation;
                map.plugin(["AMap.Geolocation"], function () {
                  geolocation = new AMap.Geolocation({
                    enableHighAccuracy: true, //  是否使用高精度定位，默认:true
                    timeout: 10000, //  超过10秒后停止定位，默认：无穷大
                    maximumAge: 0, // 定位结果缓存0毫秒，默认：0
                    convert: true, // 自动偏移坐标，偏移后的坐标为高德坐标，默认：true
                    showButton: true, //  显示定位按钮，默认：true
                    buttonPosition: "LB", // 定位按钮停靠位置，默认：'LB'，左下角
                    buttonOffset: new AMap.Pixel(10, 20), //  定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
                    showMarker: true, //  定位成功后在定位到的位置显示点标记，默认：true
                    showCircle: true, //  定位成功后用圆圈表示定位精度范围，默认：true
                    panToLocation: true, //  定位成功后将定位到的位置作为地图中心点，默认：true
                    zoomToAccuracy: true, //  定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
                  });
                  //创建天气查询实例
                  map.addControl(geolocation);
                  geolocation.getCurrentPosition();
                  //执行实时天气信息查询
                });
                return geolocation;
              },
            };
            let geolocation = location.initMap(); //定位
            AMap.event.addListener(geolocation, "complete", (result) => {
              // _that.point(
              //   result.position.lng,
              //   result.position.lat,
              //   result.formattedAddress
              // );
              // _that.lat = result.position.lat;
              // _that.lng = result.position.lng;
              // _that.currentAddress = result.formattedAddress;
              // _that.center = [result.position.lng, result.position.lat];
              // _that.searchKey = result.formattedAddress;
              if (marker) {
                map.remove(marker);
                map.setFitView();
              }
              if (infoWindow) {
                infoWindow.close();
              }
              regeoCode([result.position.lng, result.position.lat]);
              drawMaeker(result.position.lng, result.position.lat);
            });
          }

          // 搜索
          function initSearch() {
            let vm = this;
            // let amapManager = new AMapManager();
            // let map = amapManager.getMap();
            var poiPicker = new PoiPicker({
              input: "tipinput", //输入框id
              placeSearchOptions: {
                map: map,
                pageSize: 10,
              }, //地点搜索配置
              suggestContainer: "searchTip", //输入提示显示DOM
              searchResultsContainer: "searchTip", //搜索结果显示DOM
            });
            vm.poiPicker = poiPicker;
            //监听poi选中信息
            if (tipinput.value != "") {
              vm.poiPicker.searchByKeyword(tipinput.value);
            }
            poiPicker.on("poiPicked", function (poiResult) {
              let source = poiResult.source;
              let poi = poiResult.item;
              if (source !== "search") {
                poiPicker.searchByKeyword(poi.name);
              } else {
                poiPicker.clearSearchResults();
                vm.center = [
                  poiResult.item.location.lng,
                  poiResult.item.location.lat,
                ];
                vm.address = poi.name;
                // vm.searchKey = "";
              }
            });
          }

          async function showInfoClick(e) {
            if (infoWindow) {
              infoWindow.close();
            }
            if (marker) {
              map.remove(marker);
              map.setFitView();
            }
            await regeoCode([e.lnglat.lng, e.lnglat.lat]);
            await drawMaeker(e.lnglat.lng, e.lnglat.lat);
          }

          map.on("click", showInfoClick);
          tipinput.addEventListener("input", initSearch);
          getLocation();
        }
      );
    </script>
  </body>
</html>
